@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --violeta:#5c0983;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

*::-moz-selection {
  background: var(--violeta);
  color: #fff;
}

*::selection {
  background: var(--violeta);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

/*ESTILOS DE TITULOS EN CUADROS*/
.menu-toggle-btn {
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none;
  cursor: pointer;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: rgba(174, 0, 255, 0.26);
  color: var(--violeta);
  border-radius: .5rem;
  padding: .2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--violeta);
  color: #fff;
  padding: .8rem 3rem;
  border: 0.2rem solid var(--violeta);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(174, 0, 255, 0.26);
  color: var(--violeta);
  color: #c1c0c0;
}

/*WEBKIT PARA EFECTO DE TITULOS*/
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/*  MEDIA QUERIES  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .menu-toggle-btn {
    display: block;
  }
  .header__navbar {
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #24243e;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__navbar::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  .header__navbar a {
    display: block;
    margin: 10px 0;
  }
  .header__navbar.active {
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading span {
    font-size: 2.5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}

.header__logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

.header__letra {
  color: var(--violeta);
}

.header__menu {
  color: #fff;
  font-size: 2rem;
  margin: 0 .8rem;
}

.header__menu:hover {
  color: var(--violeta);
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  z-index: 0;
}

.home__titulos {
  text-align: center;
}

.home__princ {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home__dicho {
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.juegos {
  background-color: #eee;
}

.juegos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.juegos__caja {
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1rem solid #fff;
  border-radius: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}

.juegos .juegos__caja:hover .juegos__sub {
  top: 0;
}

.juegos__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.juegos__sub {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  padding-top: 5rem;
}

.juegos__titulo {
  border-radius: 5px;
  background-color: #eee;
  font-size: 2.5rem;
  color: var(--violeta);
}

.juegos__descrip {
  font-size: 1.5rem;
  color: #eee;
  padding: .5rem 0;
}

.juegos__sub:hover {
  top: 0;
}

.roster {
  background-color: #f7f7f7;
}

.roster__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.roster__caja {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}

.roster__caja:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.roster__img {
  height: 200px;
}

.roster__nick {
  font-size: 2.5rem;
  color: #333;
}

.roster__descrip {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.eventos {
  background-color: #eee;
}

.eventos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.eventos__caja {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.eventos__img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.eventos__sub {
  padding: 2rem;
}

.eventos__titulo {
  font-size: 2rem;
  color: #333;
}

.eventos__icono {
  color: var(--violeta);
}

.eventos__descrip {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.eventos__fecha {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

/*SECCION FOOTER*/
/* ESTILOS SLIDER DECLARACIONES*/
/*SECCION DECLARACIONES*/
.declaraciones {
  background: #f7f7f7;
  padding-bottom: 5vh;
}

.declaraciones .declaraciones-slider {
  padding-bottom: 2rem;
}

.declaraciones .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.declaraciones .box img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}

.declaraciones .box h3 {
  color: #333;
  font-size: 2.5rem;
}

.declaraciones .box p {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.declaraciones .box .stars i {
  color: var(--violeta);
  font-size: 1.7rem;
}

.hero {
  background: #f7f7f7;
  height: 60vh;
  width: 100%;
  position: relative;
}

.slide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 10px;
}

.user-text {
  background: var(--violeta);
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.user-text p {
  font-size: 18px;
  line-height: 24px;
}

.user-text h3 {
  font-size: 25px;
  margin: 35px 0 5px;
  color: #fff;
}

.container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20%;
}

.btn-slider {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: var(--violeta);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  width: 45px;
}

.testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .user-text {
    width: 300px;
    height: 240px;
    left: 180px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 10px;
    color: #d3d4d6;
    padding: 40px;
  }
  .user-img img {
    padding-right: 170px;
    height: 65%;
    border-radius: 10px;
  }
  .user-text p {
    font-size: 12px;
    line-height: 15px;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

/*SECCION PUBLICIDAD*/
.brandSeccion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  background: #f7f7f7;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slide img {
  height: 100px;
  width: 250px;
}

.footer {
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer__titulo {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer__span {
  background: -webkit-gradient(linear, left top, right top, from(#fd51fd), to(#35c9eb));
  background: linear-gradient(90deg, #fd51fd, #35c9eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;

}

/*HTML NOSOTROS*/
.nosotros {
  padding-top: 120px;
  width: 100%;
  min-height: 100vh;
}

.contenedor {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 30px;
}

.contenido-seccion {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.contenido-seccion .title {
  text-transform: uppercase;
  font-size: 28px;
}

.contenido-seccion .contenido h3 {
  margin-top: 20px;
  font-size: 20px;
}

.contenido-seccion .contenido p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 35px;
}

.contenido-seccion .contenido .buttom {
  margin-top: 30px;
  text-align: center;
}

.buttom img {
  width: 100px;
}

.contenido-seccion .contenido .buttom a {
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.contenido-seccion .contenido .buttom a:hover {
  color: #fff;
}

.contenido-seccion .social {
  margin: 40px 40px;
  text-align: center;
}

.contenido-seccion .social i {
  color: var(--violeta);
  font-size: 30px;
  padding: 0px 10px;
}

.contenido-seccion .social i:hover {
  color: #302b63;
}

@media screen and (max-width: 768px) {
  .contenedor {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .contenido-seccion {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .contenido-seccion .title {
    text-align: center;
    font-size: 19px;
  }
  .contenido-seccion .contenido .buttom {
    text-align: center;
  }
  .contenido-seccion .contenido .buttom a {
    padding: 9px 30px;
  }
  .contenido-seccion .social {
    text-align: center;
  }
  .contenido-seccion .contenido p {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1366px) {
  .contenedor {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .contenido-seccion {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
}

/*HTML NOSOTROS FIN*/
/*OCTAVO BLOQUE*/
/*HTML CONTACTO*/
.contact {
  padding-top: 100px;
}

.contact__hilera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__cajaImg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.contact__img {
  width: 100%;
  border-radius: 100%;
}

.contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  padding: 2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.contact__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__escribir {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact__texto {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
  height: 15rem;
  resize: none;
  width: 100%;
}

/*HTML TIENDA*/
.shop {
  padding-top: 130px;
}

.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  padding-top: 80px;
}

.shop__caja {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.shop__img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop__sub {
  padding: 2rem;
}

.shop__titulo {
  font-size: 2rem;
  color: #333;
}

.shop__icono {
  color: var(--orange);
}

.shop__descrip {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.shop__star {
  font-size: 1.7rem;
  color: var(--orange);
}

.shop__precio {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.shop__num {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

/*HTML GALERIA USANDO GRIDS*/
.mainGaleria {
  padding-top: 100px;
}

.galeria {
  position: relative;
  height: 100%;
  width: 100%;
}

.galeria p {
  position: relative;
  height: auto;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 1px;
  color: #777;
}

.galeria .fotos {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  /*i write auto four time because we want four rows*/
  grid-gap: 2vh;
  grid-auto-flow: dense;
}

.galeria .fotos .img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
}

.galeria .fotos .img:first-child {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.galeria .fotos .img:nth-child(2n+3) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.galeria .fotos .img:nth-child(4n+5) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.galeria .fotos .img:nth-child(6n+7) {
  -ms-grid-row: span 1;
      grid-row-start: span 1;
}

.galeria .fotos .img:nth-child(8n+9) {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
}

.galeria .fotos .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.5) grayscale(100);
          filter: brightness(0.5) grayscale(100);
  border-radius: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.galeria .fotos .img:hover img {
  -webkit-filter: brightness(1) grayscale(0);
          filter: brightness(1) grayscale(0);
}

@media only screen and (max-width: 768px) {
  .galeria h1 {
    font-size: 1.8em;
    width: 400px;
  }
  .galeria p {
    font-size: 1.2em;
  }
  .galeria .fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 430px) {
  .galeria h1 {
    font-size: 1.2em;
    width: 300px;
  }
  .galeria p {
    font-size: 0.89em;
  }
  .galeria .fotos {
    display: block;
  }
  .galeria .fotos .img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2% 0;
  }
  .galeria .fotos .img img {
    display: block;
    -webkit-filter: brightness(1) grayscale(0);
            filter: brightness(1) grayscale(0);
  }
}

/*EFECTO TITULO PRINCIPAL*/
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.textDecor {
  text-transform: uppercase;
}

/*HTML GALERIA FIN*/
/*# sourceMappingURL=style.css.map */